@media screen and (min-width: 1024px) {
  .icons-list__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10em;
  }

  .icons-list__vector {
    font-size: 80em;
    color: var(--color-text-800);
  }
}
