@media screen and (min-width: 1024px) {
  .header_title {
    font-size: 8rem;
    margin-bottom: 2rem;
  }

  .header_description {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .showcase__header,
  .madskills__header {
    font-size: 5rem;
  }

  .showcase__description,
  .madskills__description {
    font-size: 2rem;
  }

  .madskills__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .madskills__copy {
    color: var(--color-accent-400);
    cursor: pointer;
  }

  .madskills__copy:hover {
    color: var(--color-accent-900);
    transition: all 0.1s;
  }

  .madskills__tooltip {
    display: block;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    background-color: var(--color-accent-400);
    color: var(--color-text);
    font-family: var(--font-primary);
    font-size: 1.25rem;
    font-weight: var(--font-weight-semibold);
    line-height: 150%;
    z-index: 1000;
  }

  .octocat,
  .octocat--invisible {
    width: 130px;
    height: 130px;
  }
}
