#root {
  background: var(--bg-colorful-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.background-reveal {
  background: radial-gradient(
    var(--bg-effect-radius) at var(--mouse-x) var(--mouse-y),
    var(--color-primary-800) 0%,
    var(--color-primary) 100%
  );
  background-attachment: fixed;
}

.body-wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 3rem 2rem 6rem 2rem;
}
