.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--color-secondary-400);
  backdrop-filter: blur(2px);
  transition: all 0.3s;
  border: 1px solid var(--color-accent-100);
  font-family: var(--font-primary);
  padding: 1.5rem;
}

.card__thumbnail {
  display: block;
  aspect-ratio: 16 / 9;
  height: 100px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 1.5rem;
}

.card__meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

.card__date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  font-weight: var(--font-weight-normal);
  color: var(--color-text-400);
}

.card__status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-400);
  position: relative;
}

.card__status--wip {
  font-size: 1rem;
  color: var(--color-warning-400);
}

.card__status--completed {
  font-size: 1.5rem;
  color: var(--color-success-400);
}

.card__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-size: 2.5rem;
  font-weight: var(--font-weight-semibold);
  color: var(--color-text);
  margin-bottom: 1rem;
}

.card__link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card__link-icon {
  width: 24px;
  height: 24px;
  fill: var(--color-accent-400);
  cursor: pointer;
}

.card__link-icon:hover {
  fill: var(--color-accent-900);
  transition: all 0.1s;
}

.card__description {
  font-size: 1.5rem;
  font-weight: var(--font-weight-normal);
  color: var(--color-text-700);
  margin-bottom: 1.5rem;
}

.card__tags {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
